/*Variables*/
/*Extends*/
.subscription-section-1 div a {
  text-decoration: none; }

/*Mixin*/
* {
  margin: 0;
  padding: 0; }

body {
  font-family: AkkuratMono, Courier, monospace; }

.navbar-brand, h3, h4 {
  font-weight: 700; }

/*Index */
.section-1 {
  display: flex;
  height: 70vh;
  text-align: center;
  background-image: url(../img/our_story_bg_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: lightgray;
  font-size: 17px; }
  .section-1 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto; }
    .section-1 div button {
      margin-top: 10px;
      padding: 2px 4px;
      border-radius: 4px;
      border: 1px solid #ffffff;
      background-color: #ffffffb6;
      color: #030303;
      font-size: 30px;
      transition: 1s; }
      .section-1 div button:hover {
        background-color: #271e20;
        color: white; }

.section-2 {
  padding-top: 20px;
  color: lightgray;
  text-align: center; }
  .section-2 h1 {
    font-size: 50px;
    color: black;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px; }
  .section-2 div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px; }
    .section-2 div div {
      display: flex;
      flex-direction: column;
      transition: 1s; }
      .section-2 div div:hover {
        transform: scale(1.1); }
      .section-2 div div img {
        height: 500px;
        width: 500px; }
      .section-2 div div button {
        background-color: white;
        border: none;
        padding: 10px;
        border-radius: 5px;
        color: black;
        font-size: 28px;
        font-weight: 600;
        width: 50%;
        align-content: center;
        margin: auto; }

/*Section 3*/
.section-3 {
  display: flex;
  flex-direction: row;
  margin-top: 90px; }
  .section-3 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px; }
    .section-3 div:nth-child(1) {
      background-image: url(../img/shop_coffee_bg.jpg);
      background-size: cover;
      background-position: center; }
    .section-3 div p {
      color: lightgray;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 0.2cap;
      margin-bottom: 2px; }
    .section-3 div button {
      background-color: transparent;
      border: none;
      border-radius: 5px;
      color: #bcbec0;
      letter-spacing: 0.2cap;
      font-size: 20px; }
  .section-3 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px; }
    .section-3 div:nth-child(2) {
      background-image: url(../img/shop_tea_bg.jpg);
      background-size: cover;
      background-position: center; }
    .section-3 div p {
      color: lightgray;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 0.2cap;
      margin-bottom: 2px; }
    .section-3 div button {
      background-color: transparent;
      border: none;
      border-radius: 5px;
      color: #bcbec0;
      letter-spacing: 0.2cap;
      font-size: 20px; }

/*Footer*/
footer {
  margin-top: 80px;
  font-size: 12px;
  height: 100%;
  font-family: BaseticaBold, Arial, Helvetica, sans-serif;
  color: #fff; }
  footer > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40vh;
    align-items: center;
    justify-content: center;
    background-color: #271e20; }
    footer > div div {
      width: 100%;
      gap: 10px;
      padding: 14px;
      max-height: 20%;
      text-align: center; }
      footer > div div h6 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 17px;
        letter-spacing: 0.8px;
        margin-bottom: 20px; }
    footer > div div ul {
      list-style: none; }
    footer > div div input {
      width: 60%; }
    footer > div div button {
      background-color: white;
      padding: 1px;
      border: #ffffff;
      width: 30%; }
    footer > div .footer-social-media {
      width: 100%;
      gap: 10px;
      padding: 14px;
      max-height: 20%;
      text-align: center; }
      footer > div .footer-social-media i {
        letter-spacing: 10px;
        font-size: 15px; }

/*Best sellers*/
.bestsellers-1 {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 150px; }
  .bestsellers-1 div img {
    height: 650px;
    width: 650px; }
  .bestsellers-1 div:nth-child(2) {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; }
  .bestsellers-1 div h1 {
    font-size: 60px;
    margin-top: 70px;
    margin-bottom: 70px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif; }
  .bestsellers-1 div p {
    margin-top: 20px;
    font-size: 20px; }
  .bestsellers-1 div button {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: RGB(247 244 244/51%);
    border: none;
    padding: 20px;
    border-radius: 5px;
    color: #999ea3;
    letter-spacing: 0.2cap;
    font-size: 20px;
    transition: 1s; }
    .bestsellers-1 div button:hover {
      background-color: #271e20;
      color: white; }

.bestsellers-2 {
  background-color: #f3ede8;
  height: 200px;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
  align-items: center; }
  .bestsellers-2 > div {
    padding-top: 80px;
    display: flex;
    justify-content: space-around; }
    .bestsellers-2 > div div h5 {
      font-size: 40px;
      font-weight: 500; }
    .bestsellers-2 > div div p {
      margin-top: 20px;
      font-size: 20px; }

.bestsellers-3 {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .bestsellers-3 img {
    width: 60%;
    margin: auto;
    margin-bottom: 50px; }
  .bestsellers-3 h4 {
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center; }
  .bestsellers-3 p {
    width: 70%;
    text-align: center;
    margin-bottom: 50px; }

.bestsellers-3 .bestsellers-3-img2 {
  height: 300px;
  width: 300px; }

/*Our Story*/
.grid-container-ourStory {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80vh 60vh 60vh;
  align-items: center; }
  .grid-container-ourStory .ourStory-hero {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 80vh;
    background-image: url(../img/Cafe-Design-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .grid-container-ourStory .ourStory-hero h1 {
      font-size: 50px;
      font-weight: 800;
      color: white;
      margin-top: 80px;
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 80px; }
    .grid-container-ourStory .ourStory-hero h2 {
      color: white;
      width: 70%;
      font-size: 30px; }
  .grid-container-ourStory .ourStory-1 {
    height: 60vh;
    background-image: url(../img/Vintage-Roaster.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .grid-container-ourStory div {
    width: 100%;
    text-align: center; }
    .grid-container-ourStory div p {
      font-size: 20px;
      width: 50%;
      margin: auto; }
  .grid-container-ourStory .ourStory-2 {
    height: 60vh;
    background-image: url(../img/story_landing_coffee_sourcing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

/*Subscription*/
.subscription-section-1 {
  background-color: #f3ede8;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: BaseticaBold, Helvetica, sans-serif; }
  .subscription-section-1 div {
    text-align: center; }
    .subscription-section-1 div h1 {
      margin-top: 2px;
      margin-bottom: 20px;
      font-size: 60px;
      font-weight: 900;
      letter-spacing: 1.5px; }
    .subscription-section-1 div a p {
      font-family: AkkuratMono, Courier, monospace;
      color: #be4025;
      font-weight: 500;
      font-size: 25px;
      line-height: 15px;
      padding-bottom: 8px;
      border-bottom: 1px solid #be4025; }

.subscription-section-2 {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40vh 10vh 60vh;
  margin-bottom: 10vh; }
  .subscription-section-2 .subscription-grid-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 80%; }
    .subscription-section-2 .subscription-grid-1 h2 {
      font-size: 40px;
      font-weight: 800;
      margin-bottom: 60px; }
  .subscription-section-2 .subscription-grid-2 {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 15px; }
    .subscription-section-2 .subscription-grid-2 h2 {
      font-size: 35px;
      font-weight: 800; }
  .subscription-section-2 .subscription-grid-3 {
    width: 60%; }
    .subscription-section-2 .subscription-grid-3 img {
      width: 70%; }
    .subscription-section-2 .subscription-grid-3 h2 {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 30px; }
  .subscription-section-2 .subscription-grid-4 {
    width: 60%; }
    .subscription-section-2 .subscription-grid-4 img {
      width: 70%; }
    .subscription-section-2 .subscription-grid-4 h2 {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 30px; }

/*Shop*/
.section-2 h1 {
  text-align: center;
  color: #100e0e;
  font-weight: 700;
  font-size: 50px; }

.section-2 div div p {
  margin-top: 5px;
  color: black; }

/*Media Query*/
/*Index*/
@media screen and (max-width: 1200px) {
  .section-1 {
    font-size: 14px; }
    .section-1 div button {
      font-size: 20px; }
  .section-2 {
    margin-bottom: 80px;
    text-align: center;
    margin: auto;
    height: 100%; }
    .section-2 > div {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      gap: 20px; } }

@media screen and (max-width: 1030px) {
  .section-2 div div button {
    font-size: 25px; } }

@media screen and (max-width: 1019px) {
  .section-2 div div img {
    height: 400px;
    width: 400px; } }

@media screen and (max-width: 820px) {
  .section-2 div div img {
    height: 350px;
    width: 350px; } }

@media screen and (max-width: 800px) {
  .section-3 {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    height: 90vh; } }

@media screen and (max-width: 700px) {
  .section-3 div:nth-child(1) {
    margin-top: 80px; } }

@media screen and (max-width: 700px) {
  .section-2 div div button {
    font-size: 15px; } }

@media screen and (max-width: 580px) {
  .section-1 {
    display: flex;
    height: 70vh;
    text-align: center;
    background-image: url(../img/our_story_bg_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: lightgray;
    font-size: 12px; }
    .section-1 div button {
      font-size: 20px; }
  .section-2 {
    text-align: center;
    margin: auto;
    height: 100%; }
    .section-2 h1 {
      font-size: 40px; } }

@media screen and (max-width: 500px) {
  .section-2 div div img {
    height: 350px;
    width: 350px; } }

@media screen and (max-width: 460px) {
  .section-1 {
    height: 60vh;
    font-size: 10px; }
    .section-1 div button {
      margin-top: 10px;
      padding: 1px 4px 1px 4px;
      border-radius: 2px;
      border: 1px solid #ffffff;
      background-color: #ffffffb6;
      color: #030303;
      font-size: 15px; }
  .section-3 div p {
    font-size: 20px; } }

@media screen and (max-width: 400px) {
  .section-2 h1 {
    font-size: 40px; }
  .section-2 div div button {
    font-size: 18px; } }

@media screen and (max-width: 380px) {
  .section-2 div div img {
    height: 280px;
    width: 280px; } }

/*Best Sellers*/
@media screen and (max-width: 1600px) {
  .bestsellers-2 {
    height: 200px;
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    align-items: center; }
    .bestsellers-2 > div {
      padding-top: 80px;
      display: flex;
      justify-content: space-around; }
      .bestsellers-2 > div div h5 {
        font-size: 35px;
        font-weight: 500; }
      .bestsellers-2 > div div p {
        margin-top: 20px;
        font-size: 20px; } }

@media screen and (max-width: 1600px) and (max-width: 1500px) {
  .bestsellers-2 {
    width: 90%; } }

@media screen and (max-width: 1600px) and (max-width: 1400px) {
  .bestsellers-2 {
    width: 95%; }
    .bestsellers-2 > div div h5 {
      font-size: 30px; }
    .bestsellers-2 > div div p {
      font-size: 12px; } }

@media screen and (max-width: 1100px) {
  .bestsellers-2 {
    width: 95%; } }

@media screen and (max-width: 1150px) {
  .bestsellers-1 {
    margin-top: 10vh;
    height: 60vh; }
    .bestsellers-1 div h1 {
      font-size: 45px; } }

@media screen and (max-width: 1100px) {
  .bestsellers-1 {
    height: 50vh; }
    .bestsellers-1 div:nth-child(1) img {
      height: 600px;
      width: 600px; }
    .bestsellers-1 div h1 {
      font-size: 55px; }
    .bestsellers-1 div p {
      margin-top: 20px;
      font-size: 13px; } }

@media screen and (max-width: 900px) {
  .bestsellers-1 div:nth-child(1) img {
    height: 500px;
    width: 500px; } }

@media screen and (max-width: 1000px) {
  .bestsellers-1 {
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin-top: 30vh;
    margin-bottom: 30vh; }
    .bestsellers-1 div h1 {
      text-align: center;
      font-size: 55px;
      margin-bottom: 30px;
      margin-top: 20px; }
    .bestsellers-1 div p {
      text-align: center;
      font-size: 16px; }
  .bestsellers-2 {
    height: fit-content;
    width: 100%; }
    .bestsellers-2 > div {
      padding-top: 31px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center; }
      .bestsellers-2 > div .cofee-details {
        margin: 15px;
        width: 50%; } }

@media screen and (max-width: 950px) {
  .bestsellers-3 .bestsellers-3-img2 {
    height: 30vh;
    width: 30vh; } }

@media screen and (max-width: 1000px) {
  .bestsellers-2 > div div h5 {
    font-size: 35px; }
  .bestsellers-2 > div div p {
    font-size: 15px; } }

@media screen and (max-width: 950px) {
  .bestsellers-3 img {
    width: 100%; }
  .bestsellers-3 h4 {
    font-size: 25px; } }

@media screen and (max-width: 900px) {
  .bestsellers-3 p {
    font-size: 15px; } }

@media screen and (max-width: 750px) {
  .bestsellers-3 .bestsellers-3-img2 {
    height: 30vh;
    width: 30vh; } }

@media screen and (max-width: 600px) {
  .bestsellers-1 {
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin-top: 30vh;
    margin-bottom: 30vh; }
    .bestsellers-1 div:nth-child(1) img {
      height: 450px;
      width: 450px; } }

@media screen and (max-width: 505px) {
  .bestsellers-2 {
    width: 100%; } }

@media screen and (max-width: 500px) {
  .bestsellers-1 {
    margin-top: 30vh;
    margin-bottom: 30vh; }
    .bestsellers-1 div:nth-child(1) img {
      height: 400px;
      width: 400px;
      margin-bottom: 30px; }
    .bestsellers-1 div h1 {
      font-size: 40px; }
    .bestsellers-1 div p {
      margin-top: 20px;
      font-size: 14px; }
    .bestsellers-1 div button {
      font-size: 20px; }
  .bestsellers-3 .bestsellers-3-img2 {
    height: 20vh;
    width: 20vh; } }

@media screen and (max-width: 420px) {
  .bestsellers-1 {
    margin-top: 30vh;
    margin-bottom: 30vh; }
    .bestsellers-1 div:nth-child(1) img {
      height: 350px;
      width: 350px;
      margin-bottom: 30px; } }

@media screen and (max-width: 400px) {
  .bestsellers-2 {
    width: 100%; } }

@media screen and (max-width: 360px) {
  .bestsellers-2 div .cofee-details h5 {
    font-size: 20px; }
  .bestsellers-2 div .cofee-details p {
    font-size: 10px; } }

@media screen and (max-width: 350px) {
  .bestsellers-1 {
    margin-top: 30vh;
    margin-bottom: 30vh; }
    .bestsellers-1 div:nth-child(1) img {
      height: 300px;
      width: 300px;
      margin-bottom: 30px; } }

/*Footer*/
@media screen and (max-width: 800px) {
  footer > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 20vh 20vh 20vh;
    align-items: center;
    justify-content: center; } }

@media screen and (max-width: 700px) {
  footer > div div h6 {
    font-size: 13px; }
  footer > div div p {
    font-size: 9px; }
  footer > div div ul li {
    font-size: 9px; } }

/*Subscription*/
@media screen and (max-width: 900px) {
  .subscription-section-2 {
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 50vh 20vh 50vh 50vh; }
    .subscription-section-2 .subscription-grid-3 img {
      height: 20vh;
      width: 20vh; }
    .subscription-section-2 .subscription-grid-4 img {
      height: 20vh;
      width: 20vh; }
    .subscription-section-2 .subscription-grid-4 {
      grid-row-end: -1; } }

@media screen and (max-width: 600px) {
  .subscription-section-2 .subscription-grid-1 h2 {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 60px; }
  .subscription-section-2 .subscription-grid-1 p {
    font-size: 15px; }
  .subscription-section-2 .subscription-grid-2 h2 {
    font-size: 25px;
    font-weight: 800; } }

@media screen and (max-width: 550px) {
  .subscription-section-1 div h1 {
    font-size: 30px; }
  .subscription-section-1 div a p {
    font-size: 20px; } }

@media screen and (max-width: 360px) {
  .subscription-section-1 div h1 {
    font-size: 25px; }
  .subscription-section-1 div a p {
    font-size: 15px; }
  .subscription-section-2 .subscription-grid-1 h2 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 60px; }
  .subscription-section-2 .subscription-grid-1 p {
    font-size: 12px; }
  .subscription-section-2 .subscription-grid-2 h2 {
    font-size: 20px;
    font-weight: 800;
    width: 60%;
    margin: auto; }
  .subscription-section-2 .subscription-grid-3 h2 {
    font-size: 20px;
    font-weight: 800; }
  .subscription-section-2 .subscription-grid-3 p {
    font-size: 12px; }
  .subscription-section-2 .subscription-grid-4 h2 {
    font-size: 20px;
    font-weight: 800; }
  .subscription-section-2 .subscription-grid-4 p {
    font-size: 12px; } }

/*Story*/
@media screen and (max-width: 1100px) {
  .grid-container-ourStory {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70vh 50vh 50vh;
    align-items: center; }
    .grid-container-ourStory .ourStory-hero {
      height: 70vh; }
      .grid-container-ourStory .ourStory-hero h1 {
        font-size: 35px; }
      .grid-container-ourStory .ourStory-hero h2 {
        font-size: 20px; }
    .grid-container-ourStory .ourStory-1 {
      height: 50vh; }
    .grid-container-ourStory .ourStory-2 {
      height: 50vh; } }

@media screen and (max-width: 900px) {
  .grid-container-ourStory {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60vh 40vh 40vh 40vh 40vh;
    align-items: center; }
    .grid-container-ourStory .ourStory-hero {
      height: 60vh;
      grid-row-start: 1;
      grid-row-end: 2; }
    .grid-container-ourStory .ourStory-1 {
      height: 40vh;
      grid-row-start: 3;
      grid-row-end: 4; }
    .grid-container-ourStory .ourStory-1-1 {
      grid-row-start: 2;
      grid-row-end: 3; }
    .grid-container-ourStory .ourStory-1-2 {
      grid-row-start: 4;
      grid-row-end: 5; }
    .grid-container-ourStory .ourStory-2 {
      height: 40vh;
      grid-row-start: 5;
      grid-row-end: 6; } }

@media screen and (max-width: 650px) {
  .grid-container-ourStory .ourStory-hero h2 {
    font-size: 14px; }
  .grid-container-ourStory .ourStory-1-1 p {
    font-size: 16px; }
  .grid-container-ourStory .ourStory-1-2 p {
    font-size: 16px; } }

@media screen and (max-width: 500px) {
  .grid-container-ourStory {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50vh 40vh 40vh 40vh 40vh;
    align-items: center; }
    .grid-container-ourStory .ourStory-hero {
      height: 50vh;
      grid-row-start: 1;
      grid-row-end: 2; }
    .grid-container-ourStory .ourStory-1 {
      height: 40vh;
      grid-row-start: 3;
      grid-row-end: 4; }
    .grid-container-ourStory .ourStory-1-1 {
      grid-row-start: 2;
      grid-row-end: 3; }
    .grid-container-ourStory .ourStory-1-2 {
      grid-row-start: 4;
      grid-row-end: 5; }
    .grid-container-ourStory .ourStory-2 {
      height: 40vh;
      grid-row-start: 5;
      grid-row-end: 6; } }
