/*Media Query*/

/*Index*/

@media screen and (max-width:1200px) {
    .section-1 {
        font-size: 15px;
        div {
            button {
                font-size: 20px;
            }
        }
    }
    .section-2 {
        margin-bottom: 80px;
        text-align: center;
        margin: auto;
        height: 100%;
        >div {
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;
            gap: 20px;

        }
    }
    
}
@media screen and (max-width: 1100px) {
    .section-2 {
        h1 {
            font-size: 35px;
        }
    }
}
@media screen and(max-width: 1030px) {
    .section-2 {
        div {
            div {
                button {
                    font-size: 18px;
                }
            }
        }
    }
}
@media screen and (max-width: 1019px) {
    .section-2 {
        div {
            div {
                img {
                    height: 300px;
                    width: 300px;
                }
            }
        }
    }
}
@media screen and (max-width: 900px) {
    .section-1 {
        height: 60vh;
    }
}
@media screen and (max-width:800px) {
    .section-3{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        height: 90vh;
    }
}
@media screen and (max-width:700px) {
    .section-3 {
        div {
            &:nth-child(1) {
                margin-top: 80px;
            }
        }
    }
}
@media screen and (max-width: 700px) {
    .section-2 {
        h1 {
            font-size: 30px;
        }
        div {
            div {
                button {
                    font-size: 15px;
                }
            }
        }
    }
}
@media screen and (max-width: 580px) {
    .section-1 {
        display: flex;
        height: 60vh;
        text-align: center;
        background-image: url(../img/our_story_bg_1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        color: lightgray;
        font-size: 15px;
        div {
            button {
                font-size: 20px;
            }
        }
    }
    .section-2 {
        text-align: center;
        margin: auto;
        height: 100%;
    }

}
@media screen and (max-width: 500px) {
    .section-2 {
        div {
            div {
                img {
                    height: 250px;
                    width: 250px;
                }
            }
        }
    }
}
@media screen and (max-width:460px) {
    .section-1 {
        height: 50vh;
        font-size: 10px;
        div {
            button {
                margin-top: 10px;
                padding: 1px 4px 1px 4px;
                border-radius: 2px;
                border: 1px solid #ffffff;
                background-color: #ffffffb6;
                color: rgb(3, 3, 3);
                font-size: 15px;
            }
        }
    }
    .section-3 {
        div {
            p {
                font-size: 20px;
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .section-2 {
            div {
                div {
                    button {
                        font-size: 10px;
                        width: 30%;
                    }
                }
            }
    }
}

/*Best Sellers*/

@media screen and (max-width:1150px) {
    .bestsellers-1 {
        margin-top: 50px;
        height: 60vh;
    }
}
@media screen and (max-width:1100px) {
    .bestsellers-1 {
        height: 50vh;
        div {
            &:nth-child(1) {
                img {
                    height: 600px;
                    width: 600px;
                }
            }
            
        }
        div {
            h1 {
                font-size: 35px;
            }
            p {
                margin-top: 20px;
                font-size: 13px;
            }
        }
    }
}
@media screen and (max-width:900px) {
    .bestsellers-1 {
        div {
            &:nth-child(1) {
                img {
                    height: 500px;
                    width: 500px;
                }
            }
        }
    }
}
@media screen and (max-width:800px) {
    .bestsellers-1 {
        display: flex;
        flex-direction: column;
        height: 40vh;
        margin-top: 230px;
        margin-bottom: 220px;
        div {
            h1 {
                text-align: center;
                font-size: 25px;
                margin-bottom: 30px;
                margin-top: 20px;
            }
            p {
                text-align: center
            }
        }
    }
    .bestsellers-2 {
        height: 400px;
        width: 100%;
        >div {
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            .cofee-details {
                margin: 15px;
                width: 50%;
            }
        } 
    }
}
@media screen and (max-width:600px) {
    .bestsellers-1 {
        display: flex;
        flex-direction: column;
        height: 40vh;
        margin-top: 150px;
        margin-bottom: 220px;
        div {
            &:nth-child(1) {
                img {
                    height: 350px;
                    width: 350px
                }
            }
        }
    }
}
@media screen and (max-width:500px) {
    .bestsellers-1 {
        margin-top: 150px;
        margin-bottom: 150px;
        div {
            &:nth-child(1) {
                img {
                    height: 300px;
                    width: 300px;
                    margin-bottom: 30px;
                }
            }
        }
        div {
            h1 {
                font-size: 30px;
            }
            p {
                margin-top: 20px;
                font-size: 10px;
            }
            button {
                font-size: 15px;
            }
        }
    }
}
@media screen and (max-width:300px) {
    .bestsellers-2 {
        div {
            .cofee-details {
                h5 {
                    font-size: 20px;
                }
                p {
                    font-size: 10px;
                }
            }
        }
    }
}

/*Footer*/
 @media screen and (max-width:800px) {
    footer {
        >div {
            display: grid;
            grid-template-columns: 1fr ;
            grid-template-rows: 20vh 20vh 20vh 20vh;
            align-items: center;
            justify-content: center;
        }
    }
 }
 @media  screen and (max-width:700px) {
    footer {
        >div {
            div {
                h6 {
                    font-size: 13px;
                }
                p {
                    font-size: 9px;
                }
            }
            div {
                ul {
                    li {
                        font-size: 9px;
                    }
                }
            }
        }
    }
 }
 @media screen and (max-width: 500px) {
    footer {
        >div {
            display: grid;
            grid-template-columns: 1fr ;
            grid-template-rows: 15vh 15vh 15vh 15vh;
            align-items: center;
            justify-content: center;
        }
    }
 }
 @media screen and (max-width: 380px) {
    footer {
        >div {
            display: grid;
            grid-template-columns: 1fr ;
            grid-template-rows: 10vh 10vh 10vh 10vh;
            align-items: center;
            justify-content: center;
        }
    }
 }
 /*Subscription*/

 @media screen and (max-width:900px) {
    .subscription-section-2 {
        display: grid;
        align-items: center;
        justify-items: center;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: 40vh 10vh 40vh 40vh;
        .subscription-grid-4 {
            grid-row-end: -1;
        }
    }
 }
 @media screen and (max-width: 700px) {
    .subscription-section-1 {
        height: 30vh;
    }
}
@media screen and (max-width: 600px) {
    .subscription-section-2 {
        .subscription-grid-1 {
            h2 {
                font-size: 35px;
                font-weight: 800; 
                margin-bottom: 60px;
            }
            p {
                font-size: 15px;
            }
        }
        .subscription-grid-2 {
            h2 {
                font-size: 25px;
                font-weight: 800;
            }
        }
    }
}
@media screen and (max-width:550px) {
    .subscription-section-1 {
        div {
            h1 {
                font-size: 30px;
            }
            a {
                p {
                    font-size: 20px;
                }
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .subscription-section-2 {
        display: grid;
        align-items: center;
        justify-items: center;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: 30vh 10vh 30vh 30vh;
    }
}
@media screen and (max-width: 350px) {
    .subscription-section-1 {
        div {
            h1 {
                font-size: 25px;
            }
            a {
                p {
                    font-size: 18px;
                }
            }
        }
    }
    .subscription-section-2 {
        .subscription-grid-1 {
            h2 {
                font-size: 30px;
                font-weight: 800; 
                margin-bottom: 60px;
            }
            p {
                font-size: 12px;
            }
        }
        .subscription-grid-2 {
            h2 {
                font-size: 20px;
                font-weight: 800;
                width: 60%; 
                margin: auto;
            }
        }
        .subscription-grid-3 {
            h2 {
                font-size: 20px;
                font-weight: 800; 
            }
            p {
                font-size: 12px; 
            }
        }
        .subscription-grid-4 {
            h2 {
                font-size: 20px;
                font-weight: 800;
            }
            p {
                font-size: 12px; 
            }
        }
    }
}

/*Story*/

@media screen and (max-width: 1100px) {
    .grid-container-ourStory {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 70vh 50vh 50vh ;
        align-items: center;
        .ourStory-hero {
            height: 70vh;
            h1 {
                font-size: 35px;
            }
            h2 {
                font-size: 20px;
            }
        }
        .ourStory-1 {
            height: 50vh;
        }
        .ourStory-2 {
            height: 50vh;
        }
    } 
}

@media screen and (max-width: 900px) {
    .grid-container-ourStory {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60vh 40vh 40vh 40vh 40vh;
        align-items: center;
        .ourStory-hero {
            height: 60vh;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .ourStory-1 {
            height: 40vh;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        .ourStory-1-1 {
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .ourStory-1-2 {
            grid-row-start: 4;
            grid-row-end: 5;
        }
        .ourStory-2 {
            height: 40vh;
            grid-row-start: 5;
            grid-row-end: 6;
        }

    }
}

@media screen and (max-width: 500px) {
    .grid-container-ourStory {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50vh 30vh 30vh 30vh 30vh;
        align-items: center;
        .ourStory-hero {
            height: 50vh;
            grid-row-start: 1;
            grid-row-end: 2;
            h1 {
                font-size: 25px;
            }
            h2 {
                font-size: 15px;
            }
        }
        .ourStory-1 {
            height: 30vh;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        .ourStory-1-1 {
            grid-row-start: 2;
            grid-row-end: 3;
            p {
                font-size: 14px;
            }
        }
        .ourStory-1-2 {
            grid-row-start: 4;
            grid-row-end: 5;
            p {
                font-size: 14px;
            }
        }
        .ourStory-2 {
            height: 30vh;
            grid-row-start: 5;
            grid-row-end: 6;
        }

    }
}

@media screen and (max-width: 350px) {
    .grid-container-ourStory {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40vh 20vh 20vh 20vh 20vh;
        align-items: center;
        .ourStory-hero {
            height: 40vh;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .ourStory-1 {
            height: 20vh;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        .ourStory-1-1 {
            grid-row-start: 2;
            grid-row-end: 3;
            p {
                font-size: 14px;
            }
        }
        .ourStory-1-2 {
            grid-row-start: 4;
            grid-row-end: 5;
            p {
                font-size: 14px;
            }
        }
        .ourStory-2 {
            height: 20vh;
            grid-row-start: 5;
            grid-row-end: 6;
        }

    }
}